.bugbox{
	border: 2px solid dodgerblue;
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
}

#index_header{
	padding: 10px;
	margin: 10px;
}

#list_headers{
	margin: 20px;
	padding: 20px;
	font-size: xx-large;
	border: 2px solid crimson;
	border-radius: 15px;
}