{% extends "bugtracker/layout.html" %}
{% load static %}

{% block body %}
	<script src="{% static 'bugtracker/createbug.js' %}"></script>

	<h2><span style="color:blue;">Create A Bug:</span></h2>
	<form class="form-group" style="border:5px" action="{% url 'createbug' %}" method="POST">
		{% csrf_token %}

		{{ form.as_p }}

		<input type="submit">
	</form>

    <!-- <div id="createbug_hook" class="bugbox" style="width: 700px">
        <form id="createbug_form">
            <label for="bugtitle"><strong>Bug Title: </strong></label>
            <input class="form-control" id="bugtitle">

            <label for="bugdescription">Bug Description: </label>
            <textarea class="form-control" id="bugdescription" rows="3"></textarea>
            <small id="bugdescriptionhelp" class="form-text text-muted">A description of the bug, and how to reproduce the problem.</small>

            <label for="bugtype">Bug Type: </label>
            <select class="form-control" id="bugtype">
            </select>

            <label for="bugseverity">Bug Type: </label>
            <select class="form-control" id="bugseverity">
            </select>

            <label for="bugestimate">Estimate (hours): </label>
            <input class="form-control" id="bugestimate" type="number">

            <label for="bugsme">Subject Matter Expert: </label>
            <select class="form-control" id="bugsme">
            </select>

        </form>
    </div> -->
    
{% endblock %}
